---
import GitHub from './icons/GitHub.astro';
import NextJS from './icons/NextJS.astro';
import Tailwind from './icons/Tailwind.astro';
import Link from './icons/Link.astro';
import LinkButton from './LinkButton.astro';
import JavaScript from './icons/JavaScript.astro';
import HtmlIcon from './icons/HtmlIcon.astro';
import PhaserIcon from './icons/PhaserIcon.astro';
import LlamaIcon from './icons/LlamaIcon.astro';
import ReactIcon from './icons/ReactIcon.astro';
import ExpoIcon from './icons/ExpoIcon.astro';

const TAGS = {
  NEXT: {
    name: 'Next.js',
    class: 'bg-black text-white/20',
    icon: NextJS,
  },
  TAILWIND: {
    name: 'Tailwind CSS',
    class: 'bg-[#003159] text-white',
    icon: Tailwind,
  },
  JAVASCRIPT: {
    name: 'JavaScript',
    class: 'bg-orange-400/70 text-white',
    icon: JavaScript,
  },
  HTML: {
    name: 'HTML',
    class: 'bg-yellow-300/85 text-black',
    icon: HtmlIcon,
  },
  PHASER: {
    name: 'Phaser 3',
    class: 'bg-white text-black',
    icon: PhaserIcon,
  },
  LLAMA: {
    name: 'Llama',
    class: 'bg-slate-500/60 text-white',
    icon: LlamaIcon,
  },
  REACT: {
    name: 'React',
    class: 'bg-blue-500 text-white',
    icon: ReactIcon,
  },
  EXPO: {
    name: 'Expo',
    class: 'bg-slate-500/90 text-black',
    icon: ExpoIcon,
  },
};

const PROJECTS = [
  {
    title: 'React Native Metacritic App',
    description:
      'Este codigo es un ejemplo de una aplicación realizada con React Native y Expo. Esta enfocada a explorar las herramientas de desarrollo de Expo, utilizando los emuladores de Android Studio y las aplicaciones de Expo para ver el desarrollo tanto en dispositivos moviles con Andriod y iOS.',
    github: 'https://github.com/Julio-Chacon-Amavizca/react-native-example',
    image: '/projects/reactnativemetacriticapp.webp',
    tags: [TAGS.REACT, TAGS.EXPO],
  },
  {
    title: 'Mario bros Game Phaser',
    description:
      'Es una pequeña demo de un juego de Mario Bros hecho con Phaser 3, HTML y JavaScript.',
    link: 'https://mariobrosexamplegame.web.app/',
    github: 'https://github.com/Julio-Chacon-Amavizca/super-mario-bros-example',
    image: '/projects/mariogame.webp',
    tags: [TAGS.JAVASCRIPT, TAGS.HTML, TAGS.PHASER],
  },
  {
    title: 'ChatGPT Local en tu navegador',
    description:
      'El proyecto incluye una interfaz web sencilla y un script de web workers en JavaScript. Está diseñado para demostrar la funcionalidad básica de un chatbot con un modelo de inteligencia artificial.',
    link: 'https://chatgptlocal-seven.vercel.app/',
    github: 'https://github.com/Julio-Chacon-Amavizca/CHATGPT',
    image: '/projects/chatgptlocal.webp',
    tags: [TAGS.HTML, TAGS.JAVASCRIPT, TAGS.LLAMA],
  },
  {
    title: 'GIffy App',
    description:
      'Giffy es una aplicación web desarrollada con React que permite a los usuarios buscar GIFs animados de la plataforma Giphy. Los usuarios pueden ingresar palabras clave en un campo de búsqueda y obtener resultados relevantes en forma de GIFs animados. Los usuarios pueden observar los gifs en tendencias.',
    link: 'https://giffy-sigma-seven.vercel.app/',
    github: 'https://github.com/Julio-Chacon-Amavizca/giffy',
    image: '/projects/giffy.webp',
    tags: [TAGS.REACT, TAGS.TAILWIND],
  },
];
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2">
          <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <img
              alt="Proyectos"
              class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
              loading="lazy"
              src={image}
            />
          </div>
        </div>

        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
            {title}
          </h3>
          <div class="flex flex-wrap mt-2">
            <ul class="flex flex-row mb-2 gap-x-2">
              {tags.map((tag) => (
                <li>
                  <span
                    class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                  >
                    <tag.icon class="size-4" />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>

            <div class="mt-2 text-gray-700 dark:text-gray-400">
              {description}
            </div>
            <footer class="flex items-end justify-start mt-4 gap-x-4">
              {github && (
                <LinkButton href={github}>
                  <GitHub class="size-6" />
                  Code
                </LinkButton>
              )}
              {link && (
                <LinkButton href={link}>
                  <Link class="size-4" />
                  Preview
                </LinkButton>
              )}
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>
